@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  font-family: Microsoft JhengHei;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

ul.hide-bullets>li>a>p{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
}

#slider-thumbs ul li a{
  cursor: pointer;
  max-height: 152px;
  overflow: hidden;
}

#slider-thumbs ul li a .mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.76) 89%, rgba(0,0,0,0.76) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.76) 89%,rgba(0,0,0,0.76) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.76) 89%,rgba(0,0,0,0.76) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c2000000',GradientType=0 ); /* IE6-9 */

    opacity: .3; 
    margin: 0 15px 20px 15px;
    border-radius: 4px;

}

.thumbnail {
    padding: 0;
}


select.shop-category {
	background-color: transparent;
    border: none;
    box-shadow: none;
    display: inline-block;
    font: inherit;
    font-size: 3.5em;
    width: 100%;
    height: auto;
    line-height: 1.5em;
    padding: 0em 0.5em 0em 0em;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 45px) calc(1em - 23px), calc(100% - 32px) calc(1em - 23px), calc(100% - 2.5em) 0.5em;
    background-size: 13px 12px, 13px 13px, 1px 1.5em;
    background-repeat: no-repeat;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.item_modal{
	background: rgba(0,0,0,0.7);
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	color: #fff;
	display: none;
}

.item_modal .item_detail_pic{
	padding-top: 15%;
}

.item_modal .item_detail_data{
	padding-top: 15%;
}

.modal_close{
  right: 2em;
  top: 2em;
  position: absolute;
  font-size: 16px;
  color: #999;
  cursor: pointer;
  z-index: 3;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 




